<div class="card text-white bg-dark mb-3">
  <div class="card-header">Resturants Near {Your City}</div>
  <div class="card-body">
    <h5 class="card-title">Pizza Brothers</h5>
    <p class="card-text">Quick and Easy Pizza Delivery or Pick Up.... <a blass"btn" href="#">Read More</a></p>
  </div>
    <div class="card-body">
    <h5 class="card-title">Pizza Brothers</h5>
    <p class="card-text">Quick and Easy Pizza Delivery or Pick Up.... <a blass"btn" href="#">Read More</a></p>
  </div>
    <div class="card-body">
    <h5 class="card-title">Pizza Brothers</h5>
    <p class="card-text">Quick and Easy Pizza Delivery or Pick Up.... <a blass"btn" href="#">Read More</a></p>
  </div>
    <div class="card-body">
    <h5 class="card-title">Pizza Brothers</h5>
    <p class="card-text">Quick and Easy Pizza Delivery or Pick Up.... <a blass"btn" href="#">Read More</a></p>
  </div>
    <div class="card-body">
    <h5 class="card-title">Pizza Brothers</h5>
    <p class="card-text">Quick and Easy Pizza Delivery or Pick Up.... <a blass"btn" href="#">Read More</a></p>
  </div>
</div>
